html {
    --background-main: #ffffff;
    --background-secondary: #202020;
    --anchor: #254BDD;
    --js-yellow: #efd81d;
    --nav-link: #404040;

    --primary: #252525;

    --hero-js: #efd81dd4;
    --hero-html: #DD4B25d4;
    --hero-css: #254BDDd4;

    --theatre-green-1: #497036;
    --theatre-green-2: #3f602e;
    --theatre-green-3: #2a411f;
    --theatre-green-4: #1d2c15;
    --theatre-green-5: #162110;

    --theatre-blue-1: #08438b;
    --theatre-blue-2: #05336c;
    --theatre-blue-3: #02234c;
    --theatre-blue-4: #01142c;
    --theatre-blue-5: #00060d;
}