

h1, h2,  strong, .lingo {
    font-weight: 700;
}

h3, .semibold {
    font-weight: 600;
}

h1 {
    text-shadow: 6.7px 13.4px 13.4px hsl(0deg 0% 0% / 0.29);
    font-size: 5rem;
}

h1, .hero-js, .hero-html, .hero-css {
    margin: 0;
    padding: 0;
}

.hero-js, .hero-html, .hero-css {
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: -4px;
    text-align: right;
}
/* transparent was for text-stroke. Not fully supported at the mo */
/* .stroke-text{
    -webkit-text-fill-color: transparent;
  } */

.hero-js {
    color: var(--background-main);
    grid-column: 5/-2;
    grid-row: 1;
}

.hero-html {
    color: var(--background-main);
    grid-column: 8/-2;
    grid-row: 2;
}

.hero-css{
    color: var(--background-main);
    grid-column: 8/-2;
    grid-row: 3;
}

.hi {
    grid-column: 2/-2;
    grid-row: 2;
}

.chris {
    grid-column: 2/-2;
    grid-row: 3;
}

.logothetis {
    grid-column: 2/-2;
    grid-row: 4;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2.4rem;
}

p {
    font-size: 1.6rem;
    line-height: 140%;
}

a {
    color: var(--anchor);
    text-decoration: none;
    cursor: pointer;
}

a:hover,
a:focus {
    color: var(--anchor-hover);
}
